<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    
    {{ content_for_header }}  
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap">

    {{ 'uikit-custom.css' | asset_url | stylesheet_tag }}
    {{ 'app.css' | asset_url | stylesheet_tag }}

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    {{ 'plugins.min.js' | asset_url | script_tag}}
    {{ 'app.js' | asset_url | script_tag}}
  </head>

  <body id="body-app" class="yb-dark-skin uk-light">
    <!-- page loader -->
    <div id="pageloader" class="yb-pageloader-wrapper">
      <div class="uk-position-center  uk-text-center">
        <div data-uk-spinner></div>
      </div>
    </div>
    <!-- end page loader -->
    <!-- {% section 'announcement-bar' %} -->
    {% section 'header' %}

    <main class="yb-main-content">

      {% section 'section-about' %}

      <!-- resume section -->
      <section class="yb-section" id="resume">
        <!-- Section Number & title -->
        {% section 'sub-section-resume-number-title' %}
        <!-- End Section Number & Title -->
        <!-- Section Nav-Left Education Experience-->
        <div class="uk-container">
          <div data-uk-grid class="uk-grid-divider">
            <div class="uk-width-1-4@s uk-visible@s uk-margin-large-bottom yb-section-padding-top " id="resume-nav-wrapper">
              <!-- Section Nav-Left -->
              {% section 'sub-section-resume-nav-left' %}
              <!-- End Section Nav-Left -->
            </div>
            <div class="uk-width-expand@s yb-section-padding-top">
              <!-- Section Education -->
              {% section 'sub-section-resume-education-info' %}
              <!-- End Section Education -->
              <!-- Section Experience -->
              {% section 'sub-section-resume-experience-info' %}
              <!-- End Section Experience -->
              <!-- Section Skills -->
              {% section 'sub-section-resume-skills' %}
              <!-- End Section Skills -->
            </div>
          </div>
        </div>
        <!-- End Section Nav-Left Education Experience -->
        <!-- Section Hire me Buttons -->
        {% section 'sub-section-resume-hire-buttons' %}
        <!-- End Section Hire me Buttons -->
      </section>
      <!-- end resume section -->

      <!-- portfolio section -->
      <section class="yb-section  uk-overflow-hidden" id="portfolio">
        <!-- Section Number & Title -->
          {% section 'sub-section-portfolio-number-title' %}
        <!-- End Section Number & Title -->
        <div class="uk-container ">
          <div data-uk-grid class="uk-grid-divider">
            <div class="uk-width-1-4@s uk-visible@s uk-margin-large-bottom yb-section-padding-top" id="portfolio-nav-wrapper">
              <!-- Section Nav-Left -->
              {% section 'sub-section-portfolio-nav-left' %}
              <!-- End Section Nav-Left -->
            </div>

            <div class="uk-width-expand@s yb-section-padding-top">
              <!-- Section My Works -->
              {% section 'sub-section-portfolio-works' %}
              <!-- End Section My Works -->

              <!-- Section Pricing -->
              {% section 'sub-section-portfolio-pricing' %}
              <!-- End Section Pricing -->
            </div>
          </div>
        </div>
      </section>
      <!-- end portfolio section -->
      <!-- contact section -->
      {% section 'section-contact' %}
      <!-- end contact section -->
    </main>
    {% section 'footer' %}
    {{content_for_layout}}
  </body>
</html>
