<header class="yb-main-header" id="main-header">
  <!-- home section -->
  <div class="yb-full-height " id="home">
    <section class="yb-profile-desc">
      <div class="yb-section-point-wrapper" data-uk-parallax="opacity: 1, 0;">
        <div class="uk-container">
          <div class="yb-section-point">
            <sup>{{ section.settings.section-number }}</sup>
            <span>{{ section.settings.section-title }}</span>
          </div>
        </div>
      </div>
      <div class="yb-graphics">
        <div class="yb-graphic-1" data-uk-parallax="blur: 0,30;"></div>
        <div class="yb-graphic-2" data-uk-parallax="blur: 0,30;"></div>
      </div>
      <div class="uk-container uk-text-center yb-profile-desc-wrap uk-position-relative">
        <img src="{{ section.settings.hero-image-top | img_url: 'master' }}" alt="Hero Image" width="60" />
        <h1 class="uk-text-bold yb-gradient-text">{{ section.settings.hero-text }}</h1>
        <div class="uk-text-bold yb-myjob">
          Im a <span id="typed" class="typed"></span>
        </div>
      </div>
    </section>
  </div>
  <!-- end home section -->

  <!-- main menu -->
  <nav class="yb-main-menu " id="main-menu">
    <div class="uk-container" data-uk-navbar>
      <div class="uk-navbar-left">
        <a class="yb-logo uk-navbar-item uk-logo" href="/"><span>{{ section.settings.logo-text }}</span></a>
      </div>
      <div class="uk-navbar-right uk-hidden@m">
        <a class="uk-navbar-toggle" href="#" id="btn-menu-toggle">
          <span data-uk-navbar-toggle-icon class="yb-icon-menu"></span>
          <span data-uk-icon="close" class="yb-icon-close"></span>
        </a>
      </div>
      {% render 'header-navigation'%}
    </div>
  </nav><!-- end main menu -->
</header><!-- end main header -->

{% schema %}
{
  "name": "Header",
  "settings" : [
    {
      "type": "text",
      "id": "section-number",
      "label": "Section Number",
      "default": "01"
    },
    {
      "type": "text",
      "id": "section-title",
      "label": "Section Title",
      "default": "welcome"
    },
    {
      "type": "textarea",
      "id": "hero-text",
      "label": "Hero Text",
      "default": "John Works"
    },
    {
      "type": "image_picker",
      "id": "hero-image-top",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "logo-text",
      "label": "Logo Text",
      "default": "JMWs"
    },
    {
      "type": "header",
      "content": "Nav Links"
    },
    {
      "type": "link_list",
      "id": "nav-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Icons Link"
    },
    {
      "type": "url",
      "id": "facebook",
      "label": "Facebook Link"
    },
    {
      "type": "url",
      "id": "github",
      "label": "GitHub Link"
    },
    {
      "type": "url",
      "id": "linkedin",
      "label": "LinkedIn Link"
    }
  ]
}
{% endschema %}