<section class="yb-section yb-border-top" id="contact">
    <div class="yb-section-point-wrapper">
      <div class="uk-container">
        <div class="yb-section-point ">
          <sup>{{section.settings.section-number}}</sup>
          <span>{{section.settings.section-text}}</span>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div data-uk-grid class=" uk-grid-divider">
        <div class="yb-section-padding yb-contact-left uk-width-3-4@m">
          {% render 'contact-form' %}
        </div>
        <div class=" uk-width-1-4@m yb-section-padding yb-contact-right">
          <p class="uk-margin-medium-bottom uk-visible@m">
            <img src="src/img/empty.png" data-src="{{ section.settings.profile-photo }}" alt="Profile Photo" width="500" height="500" data-uk-img alt="" class="uk-border-circle" />
          </p>
          <ul class="uk-list uk-list-divider uk-text-small yb-contact-mini">
            {% if section.settings.primary-email != blank%}
              <li class="uk-flex uk-flex-middle">
                <span data-uk-icon="mail" class="uk-flex-none uk-text-primary "></span>
                <span>{{section.settings.primary-email}}</span>
              </li>
            {% endif %}
            {% if section.settings.contact != blank%}
              <li class="uk-flex uk-flex-middle">
                <span data-uk-icon="phone" class="uk-flex-none uk-text-primary"></span>
                <span>{{section.settings.contact}}</span>
              </li>
            {%endif%}
            {%if section.settings.location != blank%}
              <li class="uk-flex uk-flex-middle">
                <span data-uk-icon="location" class="uk-flex-none uk-text-primary "></span>
                <span>{{section.settings.location}}</span>
              </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
</section>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "section-number",
      "label": "Section Number",
      "default": "05"
    },
    {
      "type": "text",
      "id": "contact-text",
      "label": "Section Title",
      "default": "Contact"
    },
    {
      "type": "header",
      "content": "Your Information"
    },
    {
      "type": "image_picker",
      "id": "profile-photo",
      "label": "Profile Photo"
    },
    {
      "type": "text",
      "id": "primary-email",
      "label": "Email Address"
    },
    {
      "type": "text",
      "id": "contact",
      "label": "Contact"
    },
    {
      "type": "text",
      "id": "location",
      "label": "Location"
    },
    {
      "type": "header",
      "content": "Form Subjects"
    },
    {
      "type": "text",
      "id": "sub-1",
      "label": "Contact Subject 1",
      "default": "General" 
    },
    {
      "type": "text",
      "id": "sub-2",
      "label": "Contact Subject 2",
      "default": "Project Review"
    },
    {
      "type": "text",
      "id": "sub-3",
      "label": "Contact Subject 3",
      "default": "Hire Me"
    }
  ]
}
{% endschema %}